{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="flex flex-1 justify-center w-full">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1 py-4">
    <div class="flex items-center gap-4 p-4">
      <a href="{% url 'consumer:list_orders' %}">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6" viewBox="0 0 448 512">
          <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
        </svg>
      </a>

      <p class="text-black text-[32px] font-bold leading-tight">order Details</p>
    </div>

    <div class="flex flex-col p-4 gap-3">

      <p
          class="text-black text-lg font-bold leading-tight tracking-[-0.015em] p-2"
        >
          <span class="text-[var(--primary-dark)]"> consumer : </span>
          {{ order.consumer.name }}
        </p>


      <p class="text-black text-lg font-bold leading-tight tracking-[-0.015em] p-2">
      <strong class="text-[var(--primary-dark)]">status : </strong>
       {{ order.status }}
       </p>

      <p class="text-black text-lg font-bold leading-tight tracking-[-0.015em] p-2">
      <strong class="text-[var(--primary-dark)]"> Created At : </strong> 
      {{ order.c_date }}
      </p>
      <p class="text-black text-lg font-bold leading-tight tracking-[-0.015em] p-2">
      <strong class="text-[var(--primary-dark)]">Accepted At : </strong> 
      {{ order.a_date|default:"-" }}
      </p>
     
    </div>

    <h2 class="text-[22px] font-bold px-4 p-3">Products in order</h2>

    <div class="px-4 py-3">
      <div class="overflow-hidden rounded-lg border border-[#e9e1ce] bg-[#fcfbf8]">
        <table class="w-full text-left">
          <thead>
            <tr class="bg-[#fcfbf8]">
              <th class="px-4 py-3 text-sm font-medium w-[50%]">Product Name</th>
              <th class="px-4 py-3 text-sm font-medium w-[50%]">Quantity</th>
            </tr>
          </thead>
          <tbody>
            {% for item in order.order_product.all %}
            <tr class="border-t border-t-[#e9e1ce]">
              <td class="px-4 py-2 text-sm text-[var(--primary-dark)]">{{ item.product.name }}</td>
              <td class="px-4 py-2 text-sm text-[var(--primary-dark)]">{{ item.quantity }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="2" class="px-4 py-3 text-center">No products found in this order.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
