{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="h-dvh flex flex-row justify-center mt-8 sm:items-center">
    <form method="POST"
        class="flex flex-col w-full max-w-2xl sm:shadow-gray-300 sm:shadow-2xl p-8 gap-12 text-gray-900 sm:rounded-2xl">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
        <div class="w-full flex flex-row items-center ">
            <div class="font-semibold w-1/3">
                {{ field.label_tag }}
            </div>
            {% if field.help_text %}
            <p class="help text-sm text-[var(--background)]" id="{{ field.auto_id }}_helptext">
                {{ field.help_text|safe }}
            </p>
            {% endif %}
            <div class="w-2/3 rounded-2xl">
                {{ field }}
            </div>
        </div>
        {{ field.errors }}
        {% endfor %}
        <button class="bg-[var(--primary)] hover:bg-[var(--primary-dark)] py-3 rounded-2xl"> Add </button>
    </form>
</div>

{% endblock content %}
