
{% extends "base.html" %} {% load static %} {% block content %}

<div class="flex flex-1 justify-center w-full">
  <div class="container mx-auto flex flex-col flex-1 py-4">
    <div class="flex items-center gap-4 p-4 mb-12">

      <p
        class="text-black text-center md:text-left tracking-light text-[32px] font-bold leading-tight relative "
      >
        All providers
      </p>
    </div>

    <div class="px-4 py-3">
      <div
        class="flex overflow-auto rounded-lg border border-[#e9e1ce] "
      >
        <table class="flex-1 text-center md:text-left min-w-[1000px] overflow-x-auto">
          <thead>
            <tr class="bg-[var(--secondary-light)]">
              <th
                class="px-4 py-3 text-center md:text-left text-[var(--primary-dark)] text-sm font-medium leading-normal"
              >
                #
              </th>
              <th
                class="px-4 py-3 text-center md:text-left text-[var(--primary-dark)] text-sm font-medium leading-normal"
              >
                user
              </th>
              <th
                class="px-4 py-3 text-center md:text-left text-[var(--primary-dark)] text-sm font-medium leading-normal"
              >
                name
              </th>
              
          <tbody>
            {% for provider in providers %}
            <tr class="border-b border-[var(--primary-dark)]">
              <td
                class="h-[72px] px-4 py-2 text-sm font-normal leading-normal"
              >
                {{ forloop.counter }}
              </td>
              <td
                class="h-[72px] px-4 py-2 text-sm font-normal leading-normal"
              >
                {{ provider.user }}
              </td>
              <td
                class="h-[72px] px-4 py-2 text-sm font-normal leading-normal"
              >
                {{ provider.name }}
              </td>
                            
              {% empty %}
             <tr><td colspan="4">No providers found.</td></tr>
          
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

